.site_config
_site
log/*.log
tmp/**/*
tmp/*
.DS_Store
doc/api
doc/app
config/database.yml
config/database.*.yml
spec/*.opts
public/.tmp_*
.loadpath
.project
public/assets
spec/fixtures/assets/prospectus_assets/thumbs/*
public/assets
/assets
db/*.sql
spec/rspec_immediate_feedback_formatter.rb
.idea/**/*
.idea/*
public/javascripts/all.js
.rvmrc*
public/javascripts/locations_scripts.js
.bundle/*
.rspec
*.swp
.powenv
.routes
doc/controllers_brief.*
doc/controllers_complete.*
doc/models_brief.*
doc/models_complete.*
doc/spec
public/system
vendor/gems
tags
config/vanity.yml
public/asset_files
public/uploads/
db/exchange_rates
spec/fixtures/tmp/
.sass-cache/
public/lb_assets
public/assetpipe
phrase
