<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Lokalebasen</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <script src="/javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header class="without-description">
        <h1>Lokalebasen.dk Provider API Documentation</h1>
      </header>
      <section>
        <ul>
          <li><a href="/provider_api.html">Introduction</a></li>
          <li><a href="/provider_api/locations.html">Location Resources</a></li>
          <li><a href="/provider_api/contacts.html">Contact Resources</a></li>
          <li><a href="/provider_api/subscriptions.html">Subscription Resources</a></li>
        </ul>
        {{ content }}
      </section>
    </div>
    <footer>
      <p>Project maintained by <a href="https://github.com/lokalebasen">lokalebasen</a></p>
      <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
    </footer>
  </body>
</html>
